/* 1rem = 10px */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

h1 {
  margin: 0;
}
